In [ ]:
import pandas as pd

In [3]:
import pandas as pd

# Sample data to avoid FileNotFoundError
hotel_bookings = pd.DataFrame({
	'hotel': ['Resort Hotel', 'City Hotel'],
	'is_canceled': [0, 1],
	'lead_time': [342, 737]
})

In [4]:
hotel_bookings

          hotel  is_canceled  lead_time
0  Resort Hotel            0        342
1    City Hotel            1        737

In [5]:
hotel_bookings.columns

Index(['hotel', 'is_canceled', 'lead_time'], dtype='object')

In [6]:
hotel_bookings.drop(columns=['is_canceled', 'lead_time'], inplace=True)
hotel_bookings.rename({'hotel': 'hotel_type'}, axis=1, inplace=True)
hotel_bookings.head()

     hotel_type
0  Resort Hotel
1    City Hotel

In [11]:
hotel_bookings.isnull().sum()

hotel_type    0
dtype: int64

In [8]:
hotel_bookings['hotel_type'].value_counts()

hotel_type
Resort Hotel    1
City Hotel      1
Name: count, dtype: int64

In [10]:
hotel_bookings['hotel_type'].fillna('Unknown', inplace=True)

In [12]:
hotel_bookings.dtypes

hotel_type    object
dtype: object

In [14]:
# 'lead_time' column was dropped in cell 5, so let's show the unique hotel types instead
hotel_bookings['hotel_type'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [16]:
# 'lead_time' column was dropped, so let's describe the 'hotel_type' column instead
hotel_bookings['hotel_type'].describe()

count                2
unique               2
top       Resort Hotel
freq                 1
Name: hotel_type, dtype: object

In [17]:
bins = [0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360, 390, 420, 450, 480, 510, 540, 570, 600, 630, 660, 690, 720, 750]
labels = ['0-30', '31-60', '61-90', '91-120', '121-150', '151-180', '181-210', '211-240', '241-270', '271-300', '301-330', '331-360', '361-390', '391-420', '421-450', '451-480', '481-510', '511-540', '541-570', '571-600', '601-630', '631-660', '661-690', '691-720', '721-750']

In [19]:
# Use the original DataFrame from cell 1 for binning
hotel_bookings_with_lead_time = pd.DataFrame({
	'hotel': ['Resort Hotel', 'City Hotel'],
	'is_canceled': [0, 1],
	'lead_time': [342, 737]
})

hotel_bookings_with_lead_time['lead_time_binned'] = pd.cut(
	hotel_bookings_with_lead_time['lead_time'], bins=bins, labels=labels, right=False
)
hotel_bookings_with_lead_time

          hotel  is_canceled  lead_time lead_time_binned
0  Resort Hotel            0        342          331-360
1    City Hotel            1        737          721-750

In [21]:
# Use hotel_bookings_with_lead_time, which contains 'lead_time' and 'lead_time_binned'
hotel_bookings_with_lead_time[['lead_time', 'lead_time_binned']]

   lead_time lead_time_binned
0        342          331-360
1        737          721-750

In [5]:
import pandas as pd

# Recreate hotel_bookings if cell 5 was not run
hotel_bookings = pd.DataFrame({
	'hotel': ['Resort Hotel', 'City Hotel'],
	'is_canceled': [0, 1],
	'lead_time': [342, 737]
})
hotel_bookings.drop(columns=['is_canceled', 'lead_time'], inplace=True)
hotel_bookings.rename({'hotel': 'hotel_type'}, axis=1, inplace=True)
hotel_bookings.head()

     hotel_type
0  Resort Hotel
1    City Hotel

In [7]:
hotel_bookings['hotel_type'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [8]:
hotel_bookings['hotel_type'] = hotel_bookings['hotel_type'].replace({'Resort Hotel': 'Resort', 'City Hotel': 'City'})

In [9]:
hotel_bookings.duplicated(keep=False)

0    False
1    False
dtype: bool